@media screen and (min-width: 320px) {
  html,
  body {
    margin: 0;
    overflow-x: hidden; } }

@media screen and (max-width: 320px) {
  html,
  body {
    margin: 0;
    overflow-x: hidden; } }

@media (min-width: 2100px) {
  body {
    font-size: 19px !important; } }

@media (min-width: 2200px) {
  body {
    font-size: 20px !important; } }

@media (min-width: 2300px) {
  body {
    font-size: 21px !important; } }

@media (min-width: 2400px) {
  body {
    font-size: 22px !important; } }

@media (min-width: 2500px) {
  body {
    font-size: 23px !important; } }

@media (min-width: 2600px) {
  body {
    font-size: 24px !important; } }

@media (min-width: 2700px) {
  body {
    font-size: 25px !important; } }

@media (min-width: 2800px) {
  body {
    font-size: 26px !important; } }

@media (min-width: 2900px) {
  body {
    font-size: 27px !important; } }

@media (min-width: 3000px) {
  body {
    font-size: 28px !important; } }

@media (min-width: 3100px) {
  body {
    font-size: 29px !important; } }

@media (min-width: 3200px) {
  body {
    font-size: 30px !important; } }

@media (min-width: 3300px) {
  body {
    font-size: 31px !important; } }

@media (min-width: 3400px) {
  body {
    font-size: 32px !important; } }

@media (min-width: 3500px) {
  body {
    font-size: 33px !important; } }

@media (min-width: 3600px) {
  body {
    font-size: 34px !important; } }

@media (min-width: 3700px) {
  body {
    font-size: 35px !important; } }

@media (min-width: 3800px) {
  body {
    font-size: 36px !important; } }

@media (min-width: 3900px) {
  body {
    font-size: 37px !important; } }

@media (min-width: 4000px) {
  body {
    font-size: 38px !important; } }

@media (min-width: 4100px) {
  body {
    font-size: 39px !important; } }

@media (min-width: 4200px) {
  body {
    font-size: 40px !important; } }

@media (min-width: 4300px) {
  body {
    font-size: 41px !important; } }

@media (min-width: 4400px) {
  body {
    font-size: 42px !important; } }

@media (min-width: 4500px) {
  body {
    font-size: 43px !important; } }

@media (min-width: 4600px) {
  body {
    font-size: 44px !important; } }

@media (min-width: 4700px) {
  body {
    font-size: 45px !important; } }

@media (min-width: 4800px) {
  body {
    font-size: 46px !important; } }

@media (min-width: 4900px) {
  body {
    font-size: 47px !important; } }

@media (min-width: 5000px) {
  body {
    font-size: 48px !important; } }

@media (min-width: 5100px) {
  body {
    font-size: 49px !important; } }

@media (min-width: 5200px) {
  body {
    font-size: 50px !important; } }

@media (min-width: 5300px) {
  body {
    font-size: 51px !important; } }

@media (min-width: 5400px) {
  body {
    font-size: 52px !important; } }

@media (min-width: 5500px) {
  body {
    font-size: 53px !important; } }

@media (min-width: 5600px) {
  body {
    font-size: 54px !important; } }

@media (min-width: 5700px) {
  body {
    font-size: 55px !important; } }

@media (min-width: 5800px) {
  body {
    font-size: 56px !important; } }

@media (min-width: 5900px) {
  body {
    font-size: 57px !important; } }

@media (min-width: 6000px) {
  body {
    font-size: 58px !important; } }

@media (min-width: 6100px) {
  body {
    font-size: 59px !important; } }

@media (min-width: 6200px) {
  body {
    font-size: 60px !important; } }

@media (min-width: 6300px) {
  body {
    font-size: 61px !important; } }

@media (min-width: 6400px) {
  body {
    font-size: 62px !important; } }

@media (min-width: 6500px) {
  body {
    font-size: 63px !important; } }

@media (min-width: 6600px) {
  body {
    font-size: 64px !important; } }

@media (min-width: 6700px) {
  body {
    font-size: 65px !important; } }

@media (min-width: 6800px) {
  body {
    font-size: 66px !important; } }

@media (min-width: 6900px) {
  body {
    font-size: 67px !important; } }

@media (min-width: 7000px) {
  body {
    font-size: 68px !important; } }

@media (min-width: 7100px) {
  body {
    font-size: 69px !important; } }

@media (min-width: 7200px) {
  body {
    font-size: 70px !important; } }

@media (min-width: 7300px) {
  body {
    font-size: 71px !important; } }

@media (min-width: 7400px) {
  body {
    font-size: 72px !important; } }

@media (min-width: 7500px) {
  body {
    font-size: 73px !important; } }

@media (min-width: 7600px) {
  body {
    font-size: 74px !important; } }

@media (min-width: 7700px) {
  body {
    font-size: 75px !important; } }

@media (min-width: 7800px) {
  body {
    font-size: 76px !important; } }

@media (min-width: 7900px) {
  body {
    font-size: 77px !important; } }

@media (min-width: 8000px) {
  body {
    font-size: 78px !important; } }

@media (max-width: 1270px) {
  .tab_content h1 {
    font-size: 149px !important; } }

@media (max-width: 1260px) {
  .tab_content h1 {
    font-size: 148px !important; } }

@media (max-width: 1250px) {
  .tab_content h1 {
    font-size: 147px !important; } }

@media (max-width: 1240px) {
  .tab_content h1 {
    font-size: 146px !important; } }

@media (max-width: 1230px) {
  .tab_content h1 {
    font-size: 145px !important; } }

@media (max-width: 1220px) {
  .tab_content h1 {
    font-size: 144px !important; } }

@media (max-width: 1210px) {
  .tab_content h1 {
    font-size: 143px !important; } }

@media (max-width: 1200px) {
  .tab_content h1 {
    font-size: 142px !important; } }

@media (max-width: 1190px) {
  .tab_content h1 {
    font-size: 141px !important; } }

@media (max-width: 1180px) {
  .tab_content h1 {
    font-size: 140px !important; } }

@media (max-width: 1170px) {
  .tab_content h1 {
    font-size: 139px !important; } }

@media (max-width: 1160px) {
  .tab_content h1 {
    font-size: 138px !important; } }

@media (max-width: 1150px) {
  .tab_content h1 {
    font-size: 137px !important; } }

@media (max-width: 1140px) {
  .tab_content h1 {
    font-size: 136px !important; } }

@media (max-width: 1130px) {
  .tab_content h1 {
    font-size: 135px !important; } }

@media (max-width: 1120px) {
  .tab_content h1 {
    font-size: 134px !important; } }

@media (max-width: 1110px) {
  .tab_content h1 {
    font-size: 133px !important; } }

@media (max-width: 1100px) {
  .tab_content h1 {
    font-size: 132px !important; } }

@media (max-width: 1090px) {
  .tab_content h1 {
    font-size: 131px !important; } }

@media (max-width: 1080px) {
  .tab_content h1 {
    font-size: 130px !important; } }

@media (max-width: 1070px) {
  .tab_content h1 {
    font-size: 129px !important; } }

@media (max-width: 1060px) {
  .tab_content h1 {
    font-size: 128px !important; } }

@media (max-width: 1050px) {
  .tab_content h1 {
    font-size: 127px !important; } }

@media (max-width: 1040px) {
  .tab_content h1 {
    font-size: 126px !important; } }

@media (max-width: 1030px) {
  .tab_content h1 {
    font-size: 125px !important; } }

@media (max-width: 1020px) {
  .tab_content h1 {
    font-size: 124px !important; } }

@media (max-width: 1010px) {
  .tab_content h1 {
    font-size: 123px !important; } }

@media (max-width: 1000px) {
  .tab_content h1 {
    font-size: 122px !important; } }

@media (max-width: 990px) {
  .tab_content h1 {
    font-size: 121px !important; } }

@media (max-width: 980px) {
  .tab_content h1 {
    font-size: 120px !important; } }

@media (max-width: 970px) {
  .tab_content h1 {
    font-size: 119px !important; } }

@media (max-width: 960px) {
  .tab_content h1 {
    font-size: 118px !important; } }

@media (max-width: 950px) {
  .tab_content h1 {
    font-size: 117px !important; } }

@media (max-width: 940px) {
  .tab_content h1 {
    font-size: 116px !important; } }

@media (max-width: 930px) {
  .tab_content h1 {
    font-size: 115px !important; } }

@media (max-width: 920px) {
  .tab_content h1 {
    font-size: 114px !important; } }

@media (max-width: 910px) {
  .tab_content h1 {
    font-size: 113px !important; } }

@media (max-width: 900px) {
  .tab_content h1 {
    font-size: 112px !important; } }

@media (max-width: 890px) {
  .tab_content h1 {
    font-size: 111px !important; } }

@media (max-width: 880px) {
  .tab_content h1 {
    font-size: 110px !important; } }

@media (max-width: 870px) {
  .tab_content h1 {
    font-size: 109px !important; } }

@media (max-width: 860px) {
  .tab_content h1 {
    font-size: 108px !important; } }

@media (max-width: 850px) {
  .tab_content h1 {
    font-size: 107px !important; } }

@media (max-width: 840px) {
  .tab_content h1 {
    font-size: 106px !important; } }

@media (max-width: 830px) {
  .tab_content h1 {
    font-size: 105px !important; } }

@media (max-width: 820px) {
  .tab_content h1 {
    font-size: 104px !important; } }

@media (max-width: 810px) {
  .tab_content h1 {
    font-size: 103px !important; } }

@media (max-width: 800px) {
  .tab_content h1 {
    font-size: 102px !important; } }

@media (max-width: 790px) {
  .tab_content h1 {
    font-size: 101px !important; } }

@media (max-width: 780px) {
  .tab_content h1 {
    font-size: 100px !important; } }

@media (max-width: 770px) {
  .tab_content h1 {
    font-size: 99px !important; } }

@media (max-width: 760px) {
  .tab_content h1 {
    font-size: 98px !important; } }

@media (max-width: 750px) {
  .tab_content h1 {
    font-size: 97px !important; } }

@media (max-width: 740px) {
  .tab_content h1 {
    font-size: 96px !important; } }

@media (max-width: 730px) {
  .tab_content h1 {
    font-size: 95px !important; } }

@media (max-width: 720px) {
  .tab_content h1 {
    font-size: 94px !important; } }

@media (max-width: 710px) {
  .tab_content h1 {
    font-size: 93px !important; } }

@media (max-width: 700px) {
  .tab_content h1 {
    font-size: 92px !important; } }

@media (max-width: 690px) {
  .tab_content h1 {
    font-size: 91px !important; } }

@media (max-width: 680px) {
  .tab_content h1 {
    font-size: 90px !important; } }

@media (max-width: 670px) {
  .tab_content h1 {
    font-size: 89px !important; } }

@media (max-width: 660px) {
  .tab_content h1 {
    font-size: 88px !important; } }

@media (max-width: 650px) {
  .tab_content h1 {
    font-size: 87px !important; } }

@media (max-width: 640px) {
  .tab_content h1 {
    font-size: 86px !important; } }

@media (max-width: 630px) {
  .tab_content h1 {
    font-size: 85px !important; } }

@media (max-width: 620px) {
  .tab_content h1 {
    font-size: 84px !important; } }

@media (max-width: 610px) {
  .tab_content h1 {
    font-size: 83px !important; } }

@media (max-width: 600px) {
  .tab_content h1 {
    font-size: 82px !important; } }

@media (max-width: 590px) {
  .tab_content h1 {
    font-size: 81px !important; } }

@media (max-width: 580px) {
  .tab_content h1 {
    font-size: 80px !important; } }

@media (max-width: 570px) {
  .tab_content h1 {
    font-size: 79px !important; } }

@media (max-width: 560px) {
  .tab_content h1 {
    font-size: 78px !important; } }

@media (max-width: 550px) {
  .tab_content h1 {
    font-size: 77px !important; } }

@media (max-width: 540px) {
  .tab_content h1 {
    font-size: 76px !important; } }

@media (max-width: 530px) {
  .tab_content h1 {
    font-size: 75px !important; } }

@media (max-width: 520px) {
  .tab_content h1 {
    font-size: 74px !important; } }

@media (max-width: 510px) {
  .tab_content h1 {
    font-size: 73px !important; } }

@media (max-width: 500px) {
  .tab_content h1 {
    font-size: 72px !important; } }

@media (max-width: 490px) {
  .tab_content h1 {
    font-size: 71px !important; } }

@media (max-width: 480px) {
  .tab_content h1 {
    font-size: 70px !important; } }

@media (max-width: 470px) {
  .tab_content h1 {
    font-size: 69px !important; } }

@media (max-width: 460px) {
  .tab_content h1 {
    font-size: 68px !important; } }

@media (max-width: 450px) {
  .tab_content h1 {
    font-size: 67px !important; } }

@media (max-width: 440px) {
  .tab_content h1 {
    font-size: 66px !important; } }

@media (max-width: 430px) {
  .tab_content h1 {
    font-size: 65px !important; } }

@media (max-width: 420px) {
  .tab_content h1 {
    font-size: 64px !important; } }

@media (max-width: 410px) {
  .tab_content h1 {
    font-size: 63px !important; } }

@media (max-width: 400px) {
  .tab_content h1 {
    font-size: 62px !important; } }

@media (max-width: 390px) {
  .tab_content h1 {
    font-size: 61px !important; } }

@media (max-width: 380px) {
  .tab_content h1 {
    font-size: 60px !important; } }

@media (max-width: 370px) {
  .tab_content h1 {
    font-size: 59px !important; } }

@media (max-width: 360px) {
  .tab_content h1 {
    font-size: 58px !important; } }

@media (max-width: 350px) {
  .tab_content h1 {
    font-size: 57px !important; } }

@media (max-width: 340px) {
  .tab_content h1 {
    font-size: 56px !important; } }

@media (max-width: 330px) {
  .tab_content h1 {
    font-size: 55px !important; } }

@media (max-width: 320px) {
  .tab_content h1 {
    font-size: 54px !important; } }

@media (max-width: 310px) {
  .tab_content h1 {
    font-size: 53px !important; } }

@media (max-width: 300px) {
  .tab_content h1 {
    font-size: 52px !important; } }

@media (max-width: 290px) {
  .tab_content h1 {
    font-size: 51px !important; } }

@media (max-width: 280px) {
  .tab_content h1 {
    font-size: 50px !important; } }

@media (max-width: 1180px) {
  .tab_content h4 {
    font-size: 19px !important; } }

@media (max-width: 1080px) {
  .tab_content h4 {
    font-size: 18px !important; } }

@media (max-width: 980px) {
  .tab_content h4 {
    font-size: 17px !important; } }

@media (max-width: 880px) {
  .tab_content h4 {
    font-size: 16px !important; } }

@media (max-width: 780px) {
  .tab_content h4 {
    font-size: 15px !important; } }

@media (max-width: 680px) {
  .tab_content h4 {
    font-size: 14px !important; } }

@media (max-width: 580px) {
  .tab_content h4 {
    font-size: 13px !important; } }

@media screen and (max-width: 1280px) {
  .tab_content h1 {
    letter-spacing: normal !important; } }

@media screen and (max-width: 767px) {
  .news .black:before,
  .news .white:before {
    display: none; }
  .contact form .btn {
    margin-left: 20% !important; } }
